<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1033918356282-t4vl2908ormcg5lmrml70p50e2ia5cqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033918356282-t4vl2908ormcg5lmrml70p50e2ia5cqv</string>
	<key>API_KEY</key>
	<string>AIzaSyDVzWyzMQsr_hpmBv6d-5DFoZ2iYNxms9o</string>
	<key>GCM_SENDER_ID</key>
	<string>1033918356282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>stoicmeditation.stoa</string>
	<key>PROJECT_ID</key>
	<string>stoa-d0fdd</string>
	<key>STORAGE_BUCKET</key>
	<string>stoa-d0fdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033918356282:ios:d0da94a441884b66</string>
	<key>DATABASE_URL</key>
	<string>https://stoa-d0fdd.firebaseio.com</string>
</dict>
</plist>